* {
  background-color: #fcf5eb;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  max-width: 100%;
}

/*navigation bar*/
nav {
  background-color: #fcf5eb;
  padding: 10px;
  position: fixed;
  top: 0; /* Add top: 0 for positioning at the top */
  z-index: 10;
  opacity: 0.25;
  min-width: 100%;
  max-height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  justify-self: center;
}
.logo {
  width: 5%;
  float: left;
  opacity: 1;
}

.logo img {
  max-height: 10%;
  width: 25%;
  justify-self: center;
}
.navigation {
  font-size: medium;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 5px;
  padding-top: 5px;
  justify-content: space-between;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

a {
  text-decoration: none;
  color: black;
  padding: 10px;
  opacity: 1;
}

a:hover {
  text-decoration: solid 2px underline lightgreen;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.arrow {
  margin-left: 5px;
}

.card {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

/*section 1*/
.section1 {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("/WhatsApp-HomePage/assets/images/background.png");
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 6%;
  margin-left: 20px;
  margin-left: 20px;
  position: relative;
  padding: 10%;
  border-radius: 15px;
  align-items: center;
}
.section1 .left_pallet {
  max-width: 30%;
  background: transparent;
  max-height: 230px;
  color: white;
}
.section1 .left_pallet > h1,
h2 {
  background: transparent;
}
.section1 .left_pallet > h1 {
  font-size: 58px;
}
.section1 .right_pallet {
  max-width: 50%;
}
