* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
 width:100%;
overflow-x:hidden;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in.in-view {
  opacity: 1;
}

/*Button*/

.curve-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 1s ease;
}

.curve-button:hover {
  background-color: #ffffff;
  color: #4caf50;
  border: 1px solid black;
  border-radius: 12px;
  transition: background-color 1s ease;
}

.curve-button:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4caf50;
  border-radius: 15px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.curve-button:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4caf50;
  border-radius: 15px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.curve-button:hover::after {
  opacity: 0;
}

/*navigation bar*/
nav {
  background-color: #fcf5eb;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 10;
  /*opacity: 0.45;*/
  width: 100%;
  height: 12vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  justify-self: center;
}
.logo {
  width: 5%;
  float: left;
  padding-left: 5vh;
  
}

.logo img {
  object-fit: contain;
  height: 6vh;
  justify-self: center;
}
.navigation {
  font-size: medium;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 5px;
  padding-top: 5px;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 10px;
  opacity: 1;
}

a:hover {
  text-decoration: solid 2px underline lightgreen;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.arrow {
  margin-left: 5px;
}

.card {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

nav {
  margin-top: 5px;
  margin-bottom: 5px;
}

/*Main container*/

.main_container {
 
  border-radius: 10px;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fcf5eb;
  width:100%;

 
}

.container {
  /*margin-left: 10vh;
  margin-right: 10vh;
  margin-top: 10vh;*/

  clear:both;
  background: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}


/*section 1*/
.sec1-con{
  padding: 5vh 10vh;
}

.section1 {

 background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("/WhatsApp-HomePage/assets/images/background-m.jpeg");
  height: 150vh;
  width: 100%;
  background-size: cover;
  display:flex;
  position: relative;
  padding: 1vh;
  border-radius: 15px;
  align-items: center;
  justify-content: space-between;
}

.section1 .left_pallet {
  max-width: 30%;
  margin: auto;
  background: transparent;
  max-height: 75%;
  color: white;
  text-align: left;

}
.section1 .left_pallet > h1,
h2 {
  background: transparent;
  margin-bottom: 5vh;
}
.section1 .left_pallet > h1 {
  font-size: 80px;
  letter-spacing: 3.2px;
}
.section1 .left_pallet > h2 {
  font-size: 18px;
  letter-spacing: 0.18px;
  line-height: 25px;
}
.section1 .right_pallet {
  max-width: 30%;
  margin: auto;
  background: transparent;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  float: right;
  padding: 10px;
  position: relative;
  box-sizing: border-box;
}

.section1 .right_pallet img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  /*mix-blend-mode: multiply;*/
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.section1 .right_pallet img:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.section1 .right_pallet img:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}


/*section 2*/
.container-2 {
  margin-left: 20px;
  margin-right: 20px;
  clear: both;
  background: transparent;
  display: flex;
  width: 97%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.section2 {
  margin-left: 20px;
  margin-left: 20px;
  clear: both;
  height: 125vh;
  width: 97%;
  position: relative;
  padding: 10%;
  align-items: center;
  display: flex;
  /*flex-wrap: wrap;
  justify-content: space-between;*/
  flex-direction: column;
}

.section2 img {
  width: 100%;
  height: auto;
  }
.section2 .maneno {
  font-size: 48px;
  text-align: center;
  letter-spacing: 1.44px;
  line-height: 48px;
  color: #1c1e21;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

/*Section 3*/
.section3 {
  margin-left: 10vh;
  margin-right: 10vh;
  clear: both;
  height: 150vh;
  width: 97%;
  position: relative;
  padding: 10%;
  border-radius: 15px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.section3 .left_pallet {

  display: flex;
  flex-direction: column;
  max-width: 30%;
margin: auto;
}
.section3 .left_pallet h2 {
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 1.8px;
  text-align: left;
  color: #1c1e21;
}
.section3 .left_pallet p {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1.8px;
  text-align: left;
  color: #1c1e21;
}
.section3 .right_pallet {

width: 30%;
margin: auto;
  
}

/*section 4*/
.container-4 {
  position: relative;
  clear: both;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #111b21;
}
.section4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 115vh;
  width: 100%;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #111b21;
}
.section4 .left_pallet {
  background: transparent;
  float: left;
  width: 50%;
}
.section4 .right_pallet {
  width: 50%;
  float: right;
  background: transparent;
}

.section4 .right_pallet h2 {
  color: white;
  font-size: 60px;
  letter-spacing: 1.8px;
  line-height: 60px;
  text-align: left;
}

.section4 .right_pallet p {
  color: white;
  background: transparent;
  font-size: 18px;
  letter-spacing: 1.8px;
  line-height: 25px;
  text-align: left;
}
.section4 .right_pallet a {
  color: white;
  background: transparent;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.16px;
  line-height: 16px;
  text-align: left;
}

/*Section 5*/
.section5 {
  
  height: 150vh;
  width: 100%;
 display: flex;
  position: relative;
  align-items: center;
 justify-content: center;
 }
 
.section5 .left_pallet {
  display: flex;
  flex-direction: column;
  background: transparent;
  width: 30%;
  margin:auto;
}

.section5 .left_pallet h2 {
  color: #1c1e21;
  font-size: 60px;
  letter-spacing: 1.8px;
  line-height: 60px;
}

.section5 .left_pallet p {
  color: #1c1e21;
  background: transparent;
  font-size: 18px;
  letter-spacing: 1.8px;
  line-height: 25px;
  
}
.section5 .left_pallet a {
  color: #1c1e21;
  background: transparent;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.16px;
  line-height: 16px;
  
}

.section5 .right_pallet {
  display: flex;
  flex-direction: column;
  background: transparent;
  width: 30%;
  margin:auto;
}

.image51{
  width: auto;
}
.image52 {
  position: absolute;
  margin-top: 30vh;
  /*mix-blend-mode: multiply;*/
  width:auto;
}

/*Section 6*/
.section6 {
  margin-left: 10vh;
  margin-right: 10vh;
  height: 150vh;
  clear: both;
  width: 100%;
  position: relative;
  padding: 10%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.section6 .left_pallet {
  position: relative;
 margin: auto;
 
  display: flex;
  flex-direction: column;
  background: transparent;
  max-width: 30%;
}

.image61{
  width: auto;
}
.image62 {
  position: absolute;
  margin-top: 30vh;
  /*mix-blend-mode: multiply;*/
  width: 100%;
}

.section6 .right_pallet {
  margin: auto;
  display: flex;
  flex-direction: column;
  background: transparent;
  max-width: 30%;
}
.section6 .right_pallet h2 {
  color: #1c1e21;
  font-size: 60px;
  letter-spacing: 1.8px;
  line-height: 60px;
  text-align: left;
}

.section6 .right_pallet p {
  color: #1c1e21;
  background: transparent;
  font-size: 18px;
  letter-spacing: 1.8px;
  line-height: 25px;
  text-align: left;
}
.section6 .right_pallet a {
  color: #1c1e21;
  background: transparent;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.16px;
  line-height: 16px;
  text-align: left;
}

/*section 7*/
.section7 {
  
  height: 150vh;
  clear: both;
  width: 100%;
  position: relative;
  padding: 10%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x:hidden;
}

.section7 .container .left_pallet { 
  display: flex;
  text-align: left;
  flex-direction: column;
  width: 30%;
  height:100%;
 
}
#section7-h2 {
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 1.8px;
  text-align: left;
  color: #1c1e21;
}
#section7-p {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1.8px;
  text-align: left;
  color: #1c1e21;
}

.section7 .right_pallet {
  float: right;
}


/*Bottom part*/
.bottom_container {
  background-color: #111b21;
  position: relative;
  margin-top: 1px;
  clear: both;
display: flex;
flex-direction: column;
justify-content: center;
}
.section8 {
  margin-left: 10vh;
  margin-right: 10vh;
margin: 0 auto;
  background-color: #111b21;
  height: 60vh;
  width: 75%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;

}
.section8 .col {
  display: flex;
  background: transparent;
  align-items: left;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 25%;
  height: 30vh;
  list-style: none;
}

.section8 .col h3 {
  background: transparent;
  color: #f0f4f9;
  font-size: 12px;
  line-height: 16.0833px;
}
.section8 .col li {
  background: transparent;
}

.section8 .col li a {
  background: transparent;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
}
.section8 .col li a:hover {
  background: transparent;
  color: #ffffff;
  text-decoration: underline;
}

.section8 img {
  background: transparent;
}



/*Footer*/

hr{
width: 75%;
margin: 0 auto;
}
.footer {
  background-color: #111b21;
  height: 20vh;
  width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.in-{
margin: 0 auto;
padding-top: 2vh;  
width: 75%;
position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}
.footer li,
.footer p,
.footer select {
  background: transparent;
  color: #ffffff;
  text-align: left;
}
.left2 p {
  background: transparent;
}

.footer select {
  width: 25vh;
  height: 5vh;
  border-radius: 10px;
  color: #111b21;
}

.socials{

display: flex;
flex-direction: row;
justify-content: space-between;
list-style: none;
margin: auto;
} 

.s-con{
  border: 2px solid white;
  border-radius: 100%;
  width: 5vh;
  margin-left: 5vh;
  align-content: center;
}
